/* default variables - light-mode*/
$primary-color: #84bbe2;
$grey1: #fafafa;
$grey2: #f3f3f3;
$grey3: #9b9b9b;
$grey4: #6c6c6c;
$grey5: #2f2f2f;
$grey6: #191919;

$sidebar-width: 300px;
$section-padding: 1rem 0.45rem 1rem 0.75rem;
$border-light: 1px solid $grey2;
$border-dark: 1px solid $grey4;
$checkbox-border: 1.5px solid $grey3;
$br: 4px;

/*adjusted from bootstrap*/
$link-color: $primary-color;
$border-color-translucent: $grey2;